<nav class="navbar navbar-expand navbar-dark bg-dark border-bottom border-body" id="navbar">
  <div class="container-fluid">
    <div class="navbar-nav">
        {{!-- page links --}}
        <div class="nav-item">
          {{!-- <a class="nav-link" href="{{ username ? '/' : '/login' }}" titel="Home">Home</a> --}}
          <a class="nav-link" href="/home" titel="Home">Home</a>
        </div>
        <div class="nav-item">
          {{!-- <a class="nav-link" href="{{ username ? '/' : '/register' }}" title="Register">Register</a> --}}
          <a class="nav-link" href="/news" title="News">News</a>
        </div>
        <div class="nav-item">
          {{!-- <a class="nav-link" href="{{ username ? '/' : '/login' }}" title="Login">Login</a> --}}
          <a class="nav-link" href="/login" title="Login">Login</a>
        </div>
        <div class="nav-item">
          {{!-- <a class="nav-link" href="{{ username ? '/' : '/register' }}" title="Register">Register</a> --}}
          <a class="nav-link" href="/register" title="Register">Register</a>
        </div>
        <div class="nav-item">
          {{!-- <a class="nav-link" href="{{ username ? '/' : '/register' }}" title="Register">Register</a> --}}
          <a class="nav-link" href="/logout" title="Register">Logout</a>
        </div>
      </div>
      <div class="ml-auto">
        {{!-- icon/right side --}}
        <img src="../../resources/img/home.png" alt="Webpage icon" height="30">
      </div>
      <div>
        {{!-- search bar --}}
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>