<nav class="navbar navbar-expand navbar-dark bg-dark border-bottom border-body" id="navbar">
  <div class="container-fluid">
    <div class="navbar-nav">
        {{!-- page links --}}
        <div class="nav-item">
          {{!-- <a class="nav-link" href="{{ username ? '/' : '/login' }}" titel="Home">Home</a> --}}
          <a class="nav-link" href="/home" titel="Home">Home</a>
        </div>
        <div class="nav-item">
          {{!-- <a class="nav-link" href="{{ username ? '/' : '/register' }}" title="Register">Register</a> --}}
          <a class="nav-link" href="/news" title="News">News</a>
        </div>
        {{#if username}}
        <div class="nav-item">
          <a class="nav-link" href="/logout" title="Register">Logout</a>
        </div>
        {{else}}
        <div class="nav-item">
          <a class="nav-link" href="/login" title="Login">Login</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/register" title="Register">Register</a>
        </div>
        {{/if}}
      </div>
      <div class="ml-auto">
        {{!-- icon/right side --}}
        <img src="../../resources/img/logo.png" alt="Webpage icon" height = "10" width = "10">
      </div>
      

      <!-- Scrolling stocks -->
    <div class="col-md-5">
        <div class="card mb-1">
            <div class="card-body">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {{#each scrolling_stocks}}
                        <div class="carousel-item {{#if @first}}active{{/if}}">
                            <div class="row">
                                {{#chunk this 3}}
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">{{this.T}} : ${{this.c}}</h3>
                                        </div>
                                    </div>
                                </div>
                                {{/chunk}}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>


      <div class = "col-sm-1">
        {{!-- search bar --}}
        <form class="form-inline">
          <div>
            <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search">
          </div>
          <div>
            <button class="btn btn-outline-light my-2 my-md-2" type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
