{{> message}}
<div class="container py-4">
    <!-- Title -->
    <h1 class="display-4">Explore Stocks</h1>

    <div class="row">
        <!-- Carousel -->
        <div class="col-md-9">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Featured Stocks</h2>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {{#each featured_stocks}}
                            <div class="carousel-item {{#if @first}}active{{/if}}">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">{{T}}</h3>
                                        {{!-- <p class="card-text">{{company}}</p> --}}
                                        {{!-- <p class="card-text">{{industry}}</p> --}}
                                        <p class="card-text">Price: ${{c}}</p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Watchlist -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Watchlist</h2>
                    <ul class="list-group list-group-flush">
                        {{#each watchlist_stocks}}
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Will show the ticker and the price as "XXXX - $99.99"-->
                                <span>{{this.T}} - ${{this.c}}</span>
                                <form method="POST" action="/about">
                                    <!-- the input here is to push the ticker with the submition to the form (in order to load the about page). -->
                                    <!-- This value can be accessed in the /about API as 'req.body.ticker' -->
                                    <input type="hidden" name="ticker" value="{{this.T}}">
                                    <button class="btn btn-primary" type="submit">Details</button>
                                </form>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>